server {
  listen 80 default_server;
  listen [::]:80 default_server;

  root /srv/www/pydio;

  # Add index.php to the list if you are using PHP
  index index.php;

  server_name pydio.michaelwashere.net;
  client_max_body_size 250m;

  location / {
  # First attempt to serve request as file, then
  # as directory, then fall back to displaying a 404.
    try_files $uri $uri/ =404;
  }

  location /data {
    deny all;
    return 403;
  }

  location /storage {
    deny all;
    return 403;
  }

  location ~ \.php$ {
    include /etc/nginx/fastcgi_params;
    try_files  $uri =404;
    fastcgi_pass unix:/var/run/pydio.sock;
    fastcgi_index index.php;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
  }
}
