[submodule "roles/network"]
	path = roles/network
	url = git@github.com:void-ansible-roles/network.git
[submodule "roles/sshd"]
	path = roles/sshd
	url = git@github.com:void-ansible-roles/sshd.git
[submodule "roles/mosh"]
	path = roles/mosh
	url = git@github.com:void-ansible-roles/mosh.git
[submodule "roles/nginx"]
	path = roles/nginx
	url = git@github.com:void-ansible-roles/nginx.git
[submodule "roles/php-fpm"]
	path = roles/php-fpm
	url = git@github.com:void-ansible-roles/php-fpm.git
[submodule "roles/xbps-repoconf"]
	path = roles/xbps-repoconf
	url = git@github.com:void-ansible-roles/xbps-repoconf.git
[submodule "roles/xbps-mini-builder"]
	path = roles/xbps-mini-repo
	url = git@github.com:void-ansible-roles/xbps-mini-builder.git
[submodule "roles/xorg"]
	path = roles/xorg
	url = git@github.com:void-ansible-roles/xorg
[submodule "roles/i3"]
	path = roles/i3
	url = git@github.com:void-ansible-roles/i3
[submodule "roles/netdata"]
	path = roles/netdata
	url = git@github.com:void-ansible-roles/netdata.git
[submodule "roles/greeter-theme/files/p0rtalNet-greeter-theme"]
	path = roles/greeter-theme/files/p0rtalNet-greeter-theme
	url = git@github.com:the-maldridge/p0rtalNet-greeter-theme
[submodule "lightdm-webkit-greeter"]
	path = lightdm-webkit-greeter
	url = git@github.com:void-ansible-roles/lightdm-webkit-greeter.git
[submodule "roles/dbus"]
	path = roles/dbus
	url = git@github.com:void-ansible-roles/dbus.git
[submodule "roles/ntp"]
	path = roles/ntp
	url = git@github.com:void-ansible-roles/ntp.git
[submodule "roles/sg-dns"]
	path = roles/sg-dns
	url = git@github.com:SimpleGateway/sg-dns.git
[submodule "roles/sg-dhcp"]
	path = roles/sg-dhcp
	url = git@github.com:SimpleGateway/sg-dhcp.git
[submodule "roles/sg-ntp"]
	path = roles/sg-ntp
	url = git@github.com:SimpleGateway/sg-ntp.git
[submodule "roles/sg-base"]
	path = roles/sg-base
	url = git@github.com:SimpleGateway/sg-base.git
[submodule "roles/acmetool"]
	path = roles/acmetool
	url = git@github.com:void-ansible-roles/acmetool.git
[submodule "roles/sg-ansible-setup"]
	path = roles/sg-ansible-setup
	url = git@github.com:SimpleGateway/sg-ansible-setup.git
[submodule "roles/sg-pxeboot"]
	path = roles/sg-pxeboot
	url = git@github.com:SimpleGateway/sg-pxeboot.git
[submodule "roles/jekyll"]
	path = roles/jekyll
	url = git@github.com:void-ansible-roles/jekyll
[submodule "roles/telegraf"]
	path = roles/telegraf
	url = git@github.com:void-ansible-roles/telegraf.git
[submodule "roles/influxdb"]
	path = roles/influxdb
	url = git@github.com:void-ansible-roles/influxdb.git
[submodule "roles/grafana"]
	path = roles/grafana
	url = git@github.com:void-ansible-roles/grafana.git
[submodule "roles/cron"]
	path = roles/cron
	url = git@github.com:void-ansible-roles/cron.git
