[submodule "roles/inspircd/files/inspircd-bin"]
	path = roles/inspircd/files/inspircd-bin
	url = git@github.com:collegiumv/inspircd-bin.git
[submodule "roles/gateway"]
	path = roles/gateway
	url = git@github.com:the-maldridge/obsd-gw.git
