[submodule "roles/inspircd/files/inspircd-bin"]
	path = roles/inspircd/files/inspircd-bin
	url = git@github.com:collegiumv/inspircd-bin.git
[submodule "roles/gateway"]
	path = roles/gateway
	url = git@github.com:the-maldridge/obsd-gw.git
[submodule "roles/certbot"]
	path = roles/certbot
	url = git@github.com:void-ansible-roles/certbot.git
[submodule "roles/network"]
	path = roles/network
	url = git@github.com:void-ansible-roles/network.git
[submodule "roles/sshd"]
	path = roles/sshd
	url = git@github.com:void-ansible-roles/sshd.git
[submodule "roles/mosh"]
	path = roles/mosh
	url = git@github.com:void-ansible-roles/mosh.git
[submodule "roles/unifi-controller"]
	path = roles/unifi-controller
	url = git@github.com:void-ansible-roles/unifi-controller.git
[submodule "roles/nginx"]
	path = roles/nginx
	url = git@github.com:void-ansible-roles/nginx.git
[submodule "roles/php-fpm"]
	path = roles/php-fpm
	url = git@github.com:void-ansible-roles/php-fpm.git
[submodule "roles/xbps-repoconf"]
	path = roles/xbps-repoconf
	url = git@github.com:void-ansible-roles/xbps-repoconf.git
[submodule "roles/xbps-mini-builder"]
	path = roles/xbps-mini-repo
	url = git@github.com:void-ansible-roles/xbps-mini-builder.git
[submodule "roles/xorg"]
	path = roles/xorg
	url = git@github.com:void-ansible-roles/xorg
[submodule "roles/i3"]
	path = roles/i3
	url = git@github.com:void-ansible-roles/i3
[submodule "roles/netdata"]
	path = roles/netdata
	url = git@github.com:void-ansible-roles/netdata.git
[submodule "roles/monit"]
	path = roles/monit
	url = git@github.com:void-ansible-roles/monit.git
[submodule "roles/greeter-theme/files/p0rtalNet-greeter-theme"]
	path = roles/greeter-theme/files/p0rtalNet-greeter-theme
	url = git@github.com:the-maldridge/p0rtalNet-greeter-theme
[submodule "roles/lightdm"]
	path = roles/lightdm
	url = git@github.com:void-ansible-roles/lightdm.git
[submodule "roles/lightdm-webkit-greeter"]
	path = roles/lightdm-webkit-greeter
	url = git@github.com:void-ansible-roles/lightdm-webkit-greeter.git
[submodule "lightdm-webkit-greeter"]
	path = lightdm-webkit-greeter
	url = git@github.com:void-ansible-roles/lightdm-webkit-greeter.git
[submodule "roles/dbus"]
	path = roles/dbus
	url = git@github.com:void-ansible-roles/dbus.git
