log syslog all;

protocol device {}

filter reject_huge_prefixes {
  if (net.len < 15) then {
    print "Reject: Too large prefix: ", net, " ", bgp_path;
    reject;
  }
  accept;
}

filter pn_external_accept {
  if (net ~ 192.168.16.0/20) then {
    print "Reject: overlaps with local net: ", net, " ", bgp_path;
    reject;
  }
  accept;
}

filter pn_external_routables {
  if (net = 192.168.18.0/24) then {
    accept;
  }
  if (net = 192.168.20.0/24) then {
    accept;
  }
  if (net = 192.168.32.0/24) then {
    accept;
  }
  reject;
}

protocol direct {
  ipv4;
}

protocol kernel {
  ipv4 {
    export all;
  };
}

template bgp pn_external {
  hold time 180;
  ipv4 {
    import filter pn_external_accept;
    export filter pn_external_routables;
  };
}

{% for peer in bgp_wg_peers %}
protocol bgp trmg from pn_external {
  local    {{peer.local_addr|ansible.netcommon.ipaddr('address')}} as 64579;
  neighbor {{peer.addr|ansible.netcommon.ipaddr('address')}} as {{peer.as}};
  direct;
}
{% endfor %}

template bgp pn_internal {
  local 169.254.255.3 as 64579;
  neighbor as 64579;
  rr client;
  rr cluster id 169.254.255.3;

  ipv4 {
    import filter pn_external_routables;
    export filter pn_external_accept;
  };
}

protocol bgp core from pn_internal {
  neighbor 169.254.255.1;
}
