[Interface]
{% for peer in bgp_wg_peers %}
Address = {{peer.local_addr}}
{% endfor %}
PrivateKey = {{bgp_wg_privkey}}

{% for peer in bgp_wg_peers %}
[Peer]
# friendly_name = {{peer.name}}
PublicKey = {{peer.pubkey}}
AllowedIPs = {{peer.addr}}
Endpoint = {{peer.endpoint}}
PersistentKeepalive = 30
{% endfor %}
