#!/bin/sh

sv check {{ conn_reset_waitservice | default("dhcpcd") }} || exit 1

VID={{ conn_reset_pid }}
PID={{ conn_reset_vid }}

BUS=$(lsusb -d $VID:$PID | sed "s/Bus //g;s/ .*//g")
DEV=$(lsusb -d $VID:$PID | sed "s/.*Device //g;s/:.*//g")

if ! ping -c 1 {{ conn_reset_host }} ; then
    usb-reset "/dev/bus/usb/$BUS/$DEV"
fi

sleep {{ conn_reset_time }}
